*.m~



# LaTeX temporary files
*.aux
*.log
*.toc

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg


#

*.fls
*.tdo
src_2D/.vscode/launch.json
src_2D/.vscode/settings.json
src_2D/.vscode

auto_fig/*
src_2D/.vscode/settings.json
src_2D/.vscode

figures_2D/*
load_calana.sh
matlab_calana.sh
transfer_calana
IsingMatFiles/*.mat
IsingMatFiles/*/*.mat
calana.sh

test_2D_files/*
