*.m~



# LaTeX temporary files
*.aux
*.log
*.toc

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg


#

*.fls
*.tdo
src_2D/.vscode/launch.json
src_2D/.vscode/settings.json
src_2D/.vscode

auto_fig/*
old/*

src_2D/.vscode/settings.json
src_2D/.vscode

figures_2D/*
load_calana.sh
matlab_calana.sh
transfer_calana
IsingMatFiles/*.mat
IsingMatFiles/*/*.mat
calana.sh

test_2D_files/*
src_2D/fit/ising_data.mat
IsingMatFiles/Ising2D_g=2.5000e+00_chi=8_/home/ddvoogdt/Thesis_prod/IsingMatFiles/results_*.mat
IsingMatFiles/Ising2D_g=2.5000e+00_chi=8_/home/ddvoogdt/Thesis_prod/IsingMatFiles/save_vars_*.mat
IsingMatFiles/Ising2D_g=2.5000e+00_chi=8_/home/ddvoogdt/Thesis_prod/IsingMatFiles/template.mat
verslag/tikz/*

#latex compiler stuff
*.lof
*.auxlock
*.synctec*


temp_save.mat
matlab.mat
old/compM11-14-20_10-31-01.pdf

gitstats/*

verslag/main.synctex(busy)
